
.env
.flaskenv
*.key
*.pem
logs/

__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

*.json
*.db
*.sqlite3


instance/
.pytest_cache/
htmlcov/

.DS_Store
Thumbs.db
test.py
routes\Forgot
routes\CreateAccount\Helper.py
routes\LinkPage\TransferDB.py
app.py
